*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.fondo_login{
	height: 100vh;
	position: relative;
	background: linear-gradient(-58deg, #cf1f1f 20%, #cf1f1f 20%, #5698b7 20%, #5698b7 23%, #951b0c 23%, #951b0c 25%, #f2f2f2 25%, #fff 29%,  #fff 85%, #951b0c 85%);
	/*background: url(../img/fondo-3.png);*/
	background-size: 100% 100%;
}

.for-login{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 85%;
	box-shadow: 4px 4px 13px -1px #252627de; 
	border-radius: 10px;
	display: flex;
}

.panel-img{
	width: 60%;
	position: relative;
	background: #5698b7;
	border-radius: 10px 20px 20px 10px;
}
	.panel-img figure{
		height: 100%;
	}
		.panel-img figure img{
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}

.panel_login{
	background: #fff;
	padding: 2.5em;
	width: 40%;
	border-radius: 10px;
	/*margin: -2.5rem -1rem -2.5rem 0;*/
}

	.panel_logo{
		width: 250px;
		margin: 0 auto;
		height: 150px;
	}
	.panel_logo img{
		width: 100%;
		height: 100%;
		object-fit: scale-down;
	}

.form-group{
	display: flex;
	flex-direction: column;
}

.form-group label{
	padding: 10px 12px;
	font-size: 22px;
	font-weight: bold;
}

.form-group input{
	padding: 10px 12px;
	border-radius: 8px;
}

.panel_cuentas{
	display: flex;
	justify-content: space-between;
	padding: 12px 0px;
}

.form-group button{
	padding: 12px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 500;
	background: #951b0c;
	border:none;
	box-shadow: 0px 0px 1px 2px #252627de;
	color: white;
}
