/* Css personal - Diseñado por Alfredo Marcano - Todos los derechos reservados

	Estructura del Css

	1.- Distribucion General
	2.- Login
	3.- Header

*/

 /*------ Distribucion General ------*/

@font-face{
	font-family:Tepeno;
	src:url(../font/Tepeno Sans Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tepeno', serif;
	text-decoration: none;
}

ul{
	list-style: none;
	padding-left: 0 !important;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 0 !important;
}

textarea{
	resize: none !important;
}

.form-control{
	line-height:1.2 !important;
    line-height: 1.2 !important;
    border:none !important;
    border-bottom: 1px solid #ced4da !important;
}

.bg-red{ background: rgba(255, 0, 0, 0.50) !important; }
.bg-yellow{ background: rgba(255, 255, 0, 0.50) !important }
.bg-green{ background: rgba(0, 128, 0, 0.50) !important; }

.br-1{ border-radius: 0.25rem }
.br-2{ border-radius: 0.5rem }
.br-3{ border-radius: 0.75rem }
.br-4{ border-radius: 1rem }

body{
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 50px 1fr auto;
	grid-template-areas: 'nav nav' 'header contenidos' 'header footer';
	height: 100vh;
	overflow: hidden
}

	/*header*/
	header{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		grid-area: header;
		background: purple
	}

		header ul{
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			list-style: none;
			margin-bottom: 0;
		}

		header ul li{
			width: 100%;
			padding: 4px;
			text-align: center;
			transition: 0.5s;
			display: flex;
			font-size: 20px;
		}

		header ul li:hover{
			background: orange;
			cursor: pointer;
			transition: 1s;
			transform: translateY(5px);
			color: white;
			border-radius: 0px 0px 10px 10px;
		}

	/*nav*/
	nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #cf1f1f;
		color: white;
		width: 100%;
		grid-area: nav;
	}

		.TitSys{
			background: red;
			height: 100%;
			width: 160px;
			display: flex;
			align-items: center;
			padding-left: 1rem;
			font-size: 2rem
		}

	/*section*/
	.contenidos{
		background: #f1f1f1;
		grid-area: contenidos;
		overflow-y: auto;
	}
		.general{
			height: 100%;
		    padding: 2rem;
		}

			.top_general {
			    display: grid;
			    grid-template-columns: 200px repeat(3, 1fr);
			    grid-template-rows: repeat(200px, 1fr);
			    grid-gap: 20px;
			    height: 100%;
			}
			.top_general a{ text-decoration: none; color: white; font-size: 20px}

			.top_general > div{
				box-shadow: 3px 4px 12px -2px #25262766; 	
				/*height: 200px;*/
			}

			.top_nav:nth-child(1) {
				background: #951b0c !important;
				grid-row: 1/4;
				grid-column: 1/2;
				height: 100%;
			}
			
			.top_nav, .top_boton_nav{
				border-radius: 6px;
				color: white;
				position: relative;
			}

				.top_nav ul{ 
					display: flex;
					flex-direction: column;
					justify-content: space-around; 
					height: 100%;
					background: #951b0c;
				    border-radius: 6px;
				}

				.top_boton_nav ul{
					text-shadow: 1px 1px 1px black;
				    font-size: 1.5rem;
				    position: absolute;
				    bottom: 0;
				    left: 0rem;
				    background: linear-gradient(45deg, #252627f3, transparent);
				    width: 100%;
				    padding: 0.2rem 0.7rem !important;
				    margin-bottom: 0;
				    display: flex;
				    justify-content: space-between;
				    align-items: center;
				}


			.top_recibidos{ background: url(../img/recepcion.jpg); background-size: 100% 100%;}
			
			.top_despacho{ background: url(../img/despacho.jpg); background-size: 100% 100%;}
			
			.top_pintura{ background: url(../img/pintura.jpg); background-size: 100% 100%;}
			
			.top_mecanica{ background: url(../img/mecanica.jpg); background-size: 100% 100%;}
			
			.top_pulitura{ background: url(../img/pulitura.png); background-size: 100% 100%;}
			
			.top_latoneria{ background: url(../img/latoneria.png); background-size: 100% 100%;}

			.top_repuestos{ background: url(../img/repuestos.jpg); background-size: 100% 100%;}

			.top_almacen{ background: url(../img/almacen.jpg); background-size: 100% 100%;}

	/* modulo recepción */
	.rec{
		box-shadow: 1px 2px 8px -1px #25262766;
	}
		
		.rec-items{
			padding: 2px 10px;
		}

		.rec-items-active{
				background: #252627;
				color: white;
				padding: 4px 12px;
			}

		.rec-items:nth-child(2n+1){
			background: #c3c4c543;
		}

		.func-veh label{
			font-size: 1.1rem;
			font-weight: bold;
		}

		.galery-vehiculo{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			grid-gap: 10px;
		}

			.galery-vehiculo figure{
				width: 100px;
				height: 100px;
				padding: 2rem;
				background: white;
				display: flex;
				align-items: center;
				justify-content: center;
				color: black;
				font-size: 1.5rem
			}

	/* Modulo de Despacho*/

	/*footer*/
	footer{
		background: grey;
		color: white;
		padding: 2px 5px;
		grid-area: footer;
		font-size: 12px;
	}

		footer ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			list-style: none;
			margin-bottom: 0;
		}
